.OurServices_wrapper {
  width: 100%;
  position: relative;
  padding: 7rem 5rem 3rem;
  background-color: #fff;
}
.OurServices_container {
  z-index: 2;
  position: relative;
}
.OurServices_head {
  position: absolute;
  display: inline-block;
  left: 28px;
  top: 75px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.OurServices_head p {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  color: #d90a2c;
  text-transform: uppercase;
  margin: 0%;
}
.OurServices_head_discreaption {
  padding: 0% 3% 0% 5%;
}
.OurServices_head_discreaption span {
  text-transform: capitalize;
  font-size: 42px;
  line-height: 1.143em;
  font-weight: 900;
  color: #000;
  display: flex;
  flex-wrap: wrap;
}
.textformotion {
  transition: all 0.5s ease;
}
.OurServices_inner_discreaption {
  -webkit-text-stroke: 1px #000;
  color: transparent !important;
  transition: all 0.5s ease;
}
.OurServices_inner_discreaption:hover {
  -webkit-text-stroke: 1px #d90a2c;
  color: #d90a2c !important;
}
.OurServices_head_discreaption p {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
}
.OurServices_work_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 3rem;
}
.work_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.work_img_container > span {
  height: 300px !important;
  width: 380px !important;
  border-radius: 10px;
}
.work_img {
  height: 100% !important;
  width: 100% !important;
  transition: all 0.5s ease-out;
  transform: scale(1.05);
  object-fit: cover;
  object-position: center;
}
.work_img_container:hover .work_img {
  backdrop-filter: blur(1000px);
  filter: blur(3px);
  transform: scale(1);
}
.overlay {
  background: rgba(217, 10, 44, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  padding: 1rem;
  opacity: 0;
  transition: all 0.8s ease;
  height: 300px !important;
  width: 380px !important;
  border-radius: 10px;
}
.work_img_container:hover .overlay {
  opacity: 1;
}
.work_detailes {
  width: 100%;
  position: absolute;
  bottom: 7%;
  left: 3rem;
  transition: all 0.5s ease;
  opacity: 0;
  width: 70%;
}
.work_img_container:hover .work_detailes {
  opacity: 1;
}
.work_detailes h1 {
  color: #fff;
  text-transform: capitalize;
  margin: 0%;
  text-align: left;
  padding: 0.1rem 0;
}
.work_detailes p {
  color: #fff;
  text-transform: capitalize;
  margin: 0%;
  text-align: left;
  font-size: 16px;
  word-wrap: break-word;
  font-weight: 400;
}
@media only screen and (max-width: 769px) {
  .OurServices_wrapper {
    padding: 2rem 2rem 3rem;
  }
  .OurServices_head_discreaption span {
    font-size: 31px;
  }
  .OurServices_head_discreaption {
    padding: 0%;
  }
  .OurServices_head {
    transform: rotate(0);
    position: unset;
    padding: 0%;
  }
  .OurServices_head p {
    letter-spacing: 1rem;
    margin: 0.5rem 0;
  }
  .OurServices_work_container {
    display: block;
  }
  .work_img_container {
    margin-bottom: 2rem;
  }
}
